<!-- Banner -->
					<div id="banner" class="container">
						<section>
							<p>You can add a new <strong>Product</strong> from this page. <br/>
						</section>
					</div>

				<!-- Extra -->
					<div id="extra">
						<div class="container">
							<form name="f" method="POST" action="/prod/save">
								<section width="80%" align="center">
								      <h2>Add a <strong>Product</strong></h2><br/><br/>
								      <table border=0>
								      <tr>
								      <td>Name: </td><td><input type="text" name="name" placeholder="name of the product" maxlength="65" required="required" /></td></tr>

								      <tr>
								      <td>Description: </td><td><input type="text" name="description" placeholder="its description" maxlength="255" required="required"/></td></tr>

								      <tr>
								      <td>Reference: </td><td><input type="number" name="reference" placeholder="its reference" required="required"/></td></tr>

								      <tr>
								      <td>Quantity: </td><td><input type="number" name="quantity" placeholder="its quantity in stock" required="required"/></td></tr>

								      <tr>
								      <td>Price: </td><td><input type="number" step="0.001" name="price" placeholder="its price" maxlength="20" required="required" /></td></tr>

								      <tr>
								      <td>Image link: </td><td><input type="text" name="urlPic" placeholder="its image link" onBlur="document.f.pic.src=document.f.urlPic.value" required="required" /></td></tr>
								      </table>
								      <img name="pic" alt="its image"/>
								      <br/>
									  <button name="btn_submit">Save</button>
      								</section>
							</form>
						</div>
					</div>					