<!-- Banner -->
					<div id="banner" class="container">
						<section>
							<p><strong>Log yourself in</strong> to access the panel. <br/>
						</section>
					</div>

				<!-- Extra -->
					<div id="extra">
						<div class="container">
							<form name="f" method="POST" action="/sssignin">
								<section width="80%" align="center">
								      <h2> Your <strong>Credentials</strong></h2><br/><br/>
								      <table border=0>
								      <tr>
								      <td>Email: </td><td><input type="email" name="email" placeholder="your email" required="required" /></td></tr>

								      <tr>
								      <td>Password: </td><td><input type="password" name="password" placeholder="your password" required="required"/></td></tr>

								      </table>
								      <br/>
									  <button name="btn_submit">Sign In</button>
      								</section>
							</form>
						</div>
					</div>					