<!-- Banner -->
					<div id="banner" class="container">
						<section>
							<p>You can add a new <strong>Product</strong> from this page. <br/>
						</section>
					</div>

				<!-- Extra -->
					<div id="extra">
						<div class="container">
							<form name="f" method="POST" action="/signin">
								<section width="80%" align="center">
								      <h2>Add a <strong>Product</strong></h2><br/><br/>
								      <table border=0>
								      <tr>
								      <td>Name: </td><td><input type="email" name="email" placeholder="your email" required="required" /></td></tr>

								      <tr>
								      <td>Description: </td><td><input type="password" name="password" placeholder="your password" required="required"/></td></tr>

								      </table>
								      <br/>
									  <button name="btn_submit">Sign In</button>
      								</section>
							</form>
						</div>
					</div>					